<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1024,initial-scale=1.0,maximum-scale=1,shrink-to-fit=no">
    <meta name="author" content="Umang Agarwal">
    <meta name="description" content="A platform to play drinking games with your friends remotely while on call. Ready to blackout??">
    <meta name="keywords" content="drink, drinking, remote, party, online, games, game, new, year, celebrate, friends, video, call, virtual">
    <title>Drinking Game</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body style="padding:5%; background: #d6d6d6">
    <div class="row">
      <div class="col-12 col-md-6" style="text-align: justify;">
        <h1>Hello there! Ready to blackout??</h1>
        <p>This is just the first version and the <a href="https://umangagarwal.tech/" style="text-decoration:underline; color:black;">developer</a> is still working on this project.
            Although he promises that this version won't spoil your "trip"! He hopes you enjoy playing and you can leave any feedback you have for him by dropping him an <a href="mailto:agarwalumang012@gmail.com" style="text-decoration:underline; color:black;">e-mail</a>.
            <hr>
            PS- The developer takes no responsibility for any loss. Drink responsibly.<br>
            PPS- The developer recommends you to use a laptop or PC to play this game as you might have to use your mobile mid-game ;)
        </p>
        
        <button type="button" name="button" id="starter" class="btn btn-outline-success" style="border-radius: 40%/90%; padding:2% 5%;">Play!!</button>

      </div>
      <div class="col-12 col-md-6" style="text-align: justify;">
        <img src="https://media.giphy.com/media/xUySTz1QaLTOFaABW0/giphy.gif" alt="Cheers!!">
      </div>

    </div>

    <script type="text/javascript">
      document.getElementById("starter").addEventListener('click',(e) => {
        e.preventDefault();
        window.location.href="/play";
      });
    </script>
  </body>
</html>
